docs/deploy-sat-enabled-services/notes old files/workspace/.metadata.old/.plugins/com.ibm.notes.client/wsdls/0CD82AEE23082989AC8B2CE7BBC443D9/db.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- (C) Copyright IBM Corp. 2007                                      -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->
<definitions name="Property Broker WSDL"
  targetNamespace="http://www.ibm.com/xmlns/prod/datatype"
  xmlns="http://schemas.xmlsoap.org/wsdl/"  
  xmlns:portlet="http://www.ibm.com/wps/c2a"  
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:idt="http://www.ibm.com/xmlns/prod/datatype">
  <types>    
    <xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/datatype">
      <xsd:simpleType name="emailAddress822">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="distinguishedName">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="mailTo">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="url">
        <xsd:restriction base="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="SelectedCompanyChanged_Message">
    <part name="SelectedCompanyChanged_Part" type="xsd:string"/>
  </message>
  <message name="SelectedEmailAddressChanged_Message">
    <part name="SelectedEmailAddressChanged_Part" type="xsd:string"/>
  </message>
  <message name="SelectedNotesDocumentURLChanged_Message">
    <part name="SelectedNotesDocumentURLChanged_Part" type="idt:url"/>
  </message>
  <message name="SelectedNameChanged_Message">
    <part name="SelectedNameChanged_Part" type="xsd:string"/>
  </message>
  <message name="SelectedStreetAddressChanged_Message">
    <part name="SelectedStreetAddressChanged_Part" type="xsd:string"/>
  </message>
  <portType name="Operations">
    <operation name="SelectedEmailAddressChanged_Operation">
      <output message="idt:SelectedEmailAddressChanged_Message"/>
    </operation>
    <operation name="SelectedNameChanged_Operation">
      <output message="idt:SelectedNameChanged_Message"/>
    </operation>
    <operation name="SelectedStreetAddressChanged_Operation">
      <output message="idt:SelectedStreetAddressChanged_Message"/>
    </operation>
    <operation name="SelectedCompanyChanged_Operation">
      <output message="idt:SelectedCompanyChanged_Message"/>
    </operation>
    <operation name="SelectedNotesDocumentURLChanged_Operation">
      <output message="idt:SelectedNotesDocumentURLChanged_Message"/>
    </operation>
  </portType>
  <binding name="Binding" type="idt:Operations">
    <portlet:binding/>
    <operation name="SelectedEmailAddressChanged_Operation">
      <portlet:action activeOnStartup="true"
        caption="emailaddressaction.caption"
        description="emailaddressaction.description"
        name="PublishSelectedEmailAddress" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="emailaddressproperty.caption"
          description="emailaddressproperty.description"
          name="SelectedEmailAddressChanged" partname="SelectedEmailAddressChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedNameChanged_Operation">
      <portlet:action activeOnStartup="true"
        caption="commonnameaction.caption"
        description="commonnameaction.description"
        name="PublishSelectedName" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute" caption="commonnameproperty.caption"
          description="commonnameproperty.description"
          name="SelectedNameChanged" partname="SelectedNameChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedStreetAddressChanged_Operation">
      <portlet:action activeOnStartup="true"
        caption="streetaddressaction.caption"
        description="streetaddressaction.description"
        name="PublishSelectedStreetAddress"
        selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="streetaddressproperty.caption"
          description="streetaddressproperty.description"
          name="SelectedStreetAddressChanged" partname="SelectedStreetAddressChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedCompanyChanged_Operation">
      <portlet:action activeOnStartup="true"
        caption="companynameaction.caption"
        description="companynameaction.description"
        name="PublishSelectedCompany" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="companynameproperty.caption"
          description="companynameproperty.description"
          name="SelectedCompanyChanged" partname="SelectedCompanyChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedNotesDocumentURLChanged_Operation">
      <portlet:action activeOnStartup="true" caption="notesurlaction.caption"
        description="notesurlaction.description"
        name="PublishSelectedNotesDocumentURL"
        selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute" caption="notesurlproperty.caption"
          description="notesurlproperty.description"
          name="SelectedNotesDocumentURLChanged" partname="SelectedNotesDocumentURLChanged_Part"/>
      </output>
    </operation>
  </binding>
</definitions>
