docs/deploy-sat-enabled-services/notes old files/workspace/.metadata.old/.plugins/com.ibm.notes.client/wsdls/908B52C15730819FDDE9CEC86CE899E8/db.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ***************************************************************** -->
<!--                                                                   -->
<!-- IBM Confidential                                                  -->
<!--                                                                   -->
<!-- OCO Source Materials                                              -->
<!--                                                                   -->
<!-- (C) Copyright IBM Corp. 2007                                      -->
<!--                                                                   -->
<!-- The source code for this program is not published or otherwise    -->
<!-- divested of its trade secrets, irrespective of what has been      -->
<!-- deposited with the U.S. Copyright Office.                         -->
<!--                                                                   -->
<!-- ***************************************************************** -->
<definitions name="Property Broker WSDL"
  targetNamespace="http://www.ibm.com/xmlns/prod/datatype"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:portlet="http://www.ibm.com/wps/c2a"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
  xmlns:idt="http://www.ibm.com/xmlns/prod/datatype"
  xmlns:iid="http://w3.ibm.com/xmlns/ibmww/sw/datatype">
  <types>
    <xsd:schema targetNamespace="http://www.ibm.com/xmlns/prod/datatype">
      <xsd:simpleType name="emailAddress822">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="distinguishedName">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="mailTo">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
      <xsd:simpleType name="url">
        <xsd:restriction base="xsd:anyURI"/>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema targetNamespace="http://w3.ibm.com/xmlns/ibmww/sw/datatype">
      <xsd:simpleType name="secondaryDateList">
        <xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="SelectedEmailAddressChanged_Message">
    <part name="SelectedEmailAddressChanged_Part" type="xsd:string"/>
  </message>
  <message name="SelectedNameChanged_Message">
    <part name="SelectedNameChanged_Part" type="xsd:string"/>
  </message>
  <message name="SelectedSubjectChanged_Message">
    <part name="SelectedSubjectChanged_Part" type="xsd:string"/>
  </message>  
  <message name="SelectedNotesDocumentURLChanged_Message">
    <part name="SelectedNotesDocumentURLChanged_Part" type="idt:url"/>
  </message>  
  <message name="CreateNewMemoUsingEmailAddress_Message">
    <part name="CreateNewMemoUsingEmailAddress_Part" type="idt:emailAddress822"/>
  </message>
  <message name="CreateNewMemoUsingMailTo_Message">
    <part name="CreateNewMemoUsingMailTo_Part" type="idt:mailTo"/>
  </message>  
  <message name="CreateNewMemoUsingString_Message">
    <part name="CreateNewMemoUsingString_Part" type="xsd:string"/>
  </message>
  <message name="SecondaryDateList_Message">
    <part name="SecondaryDateList_Part" type="iid:secondaryDateList"/>
  </message>
  <message name="SelectedDate_Message">
    <part name="SelectedDate_Part" type="xsd:dateTime"/> <!-- This should be xsd:date, as soon as Designer can handle it -->
  </message>  
  <portType name="Operations">
    <operation name="SelectedEmailAddressChanged_Operation">
      <output message="idt:SelectedEmailAddressChanged_Message"/>
    </operation>
    <operation name="SelectedSubjectChanged_Operation">
      <output message="idt:SelectedSubjectChanged_Message"/>
    </operation>
    <operation name="SelectedNameChanged_Operation">
      <output message="idt:SelectedNameChanged_Message"/>
    </operation>
    <operation name="SelectedNotesDocumentURLChanged_Operation">
      <output message="idt:SelectedNotesDocumentURLChanged_Message"/>
    </operation>
    <operation name="CreateNewMemoUsingEmailAddress_Operation">
      <input message="idt:CreateNewMemoUsingEmailAddress_Message"/>
    </operation>
    <operation name="CreateNewMemoUsingMailTo_Operation">
      <input message="idt:CreateNewMemoUsingMailTo_Message"/>
    </operation>
    <operation name="CreateNewMemoUsingString_Operation">
      <input message="idt:CreateNewMemoUsingString_Message"/>
    </operation>
    <operation name="SelectedDateChanged_Operation">
      <output message="idt:SelectedDate_Message"/>
    </operation>
    <operation name="SecondaryDateListChanged_Operation">
      <output message="idt:SecondaryDateList_Message"/>
    </operation>
    <operation name="SetSelectedDate_Operation">
      <input message="idt:SelectedDate_Message"/>
    </operation>
    <operation name="SetSecondaryDateList_Operation">
      <input message="idt:SecondaryDateList_Message"/>
    </operation>
  </portType>
  <binding name="Binding" type="idt:Operations">
    <portlet:binding/>
    <operation name="SelectedEmailAddressChanged_Operation">
      <portlet:action activeOnStartup="false" caption="emailaddressaction.caption"
        description="emailaddressaction.description"
        name="PublishSelectedEmailAddress" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="emailaddressproperty.caption"
          description="emailaddressproperty.description"
          name="SelectedEmailAddressChanged" partname="SelectedEmailAddressChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedSubjectChanged_Operation">
      <portlet:action activeOnStartup="false" caption="subjectaction.caption"
        description="subjectaction.description"
        name="PublishSelectedSubject" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute" caption="subjectproperty.caption"
          description="subjectproperty.description"
          name="SelectedSubjectChanged" partname="SelectedSubjectChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedNameChanged_Operation">
      <portlet:action activeOnStartup="false" caption="commonnameaction.caption"
        description="commonnameaction.description"
        name="PublishSelectedName" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute" caption="commonnameproperty.caption"
          description="commonnameproperty.description"
          name="SelectedNameChanged" partname="SelectedNameChanged_Part"/>
      </output>
    </operation>
    <operation name="SelectedNotesDocumentURLChanged_Operation">
      <portlet:action activeOnStartup="false" caption="notesurlaction.caption"
        description="notesurlaction.description"
        name="PublishSelectedNotesDocumentURL"
        selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="notesurlproperty.caption"
          description="notesurlproperty.description"
          name="SelectedNotesDocumentURLChanged" partname="SelectedNotesDocumentURLChanged_Part"/>
      </output>
    </operation>
    <operation name="CreateNewMemoUsingEmailAddress_Operation">
      <portlet:action activeOnStartup="false"
        caption="newmemousingemailaddressaction.caption"
        description="newmemousingemailaddressaction.description"
        name="CreateNewMemoUsingEmailAddress"
        selectOnMultipleMatch="false" type="standard"/>
      <input>
        <portlet:param boundTo="request-attribute"
          caption="newmemousingemailaddressproperty.caption"
          description="newmemousingemailaddressproperty.description"
          name="EmailAddress" partname="CreateNewMemoUsingEmailAddress_Part"/>
      </input>
    </operation>
    <operation name="CreateNewMemoUsingMailTo_Operation">
      <portlet:action activeOnStartup="false"
        caption="newmemousingmailtoaction.caption"
        description="newmemousingmailtoaction.description"
        name="CreateNewMemoUsingMailTo" selectOnMultipleMatch="false" type="standard"/>
      <input>
        <portlet:param boundTo="request-attribute"
          caption="newmemousingmailtoproperty.caption"
          description="newmemousingmailtoproperty.description"
          name="MailToURL" partname="CreateNewMemoUsingMailTo_Part"/>
      </input>
    </operation>
    <operation name="CreateNewMemoUsingString_Operation">
      <portlet:action activeOnStartup="false"
        caption="newmemousingstringaction.caption"
        description="newmemousingstringaction.description"
        name="CreateNewMemoUsingString" selectOnMultipleMatch="false" type="standard"/>
      <input>
        <portlet:param boundTo="request-attribute"
          caption="newmemousingstringproperty.caption"
          description="newmemousingstringproperty.description"
          name="SendToString" partname="CreateNewMemoUsingString_Part"/>
      </input>
    </operation>
    <operation name="SelectedDateChanged_Operation">
      <portlet:action activeOnStartup="false" caption="selecteddateaction.caption"
        description="selecteddateaction.description"
        name="PublishSelectedDate" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="selecteddateproperty.caption"
          description="selecteddateproperty.description"
          name="SelectedDateChanged" partname="SelectedDate_Part"/>
      </output>
    </operation>
    <operation name="SecondaryDateListChanged_Operation">
      <portlet:action activeOnStartup="false"
        caption="secondaryselecteddateaction.caption"
        description="secondaryselecteddateaction.description"
        name="PublishSecondaryDateList" selectOnMultipleMatch="false" type="standard"/>
      <output>
        <portlet:param boundTo="request-attribute"
          caption="secondaryselecteddateproperty.caption"
          description="secondaryselecteddateproperty.description"
          name="SecondaryDateListChanged" partname="SecondaryDateList_Part"/>
      </output>
    </operation>
    <operation name="SetSelectedDate_Operation">
      <portlet:action activeOnStartup="false"
        caption="setselecteddateaction.caption"
        description="setselecteddateaction.description"
        name="SetSelectedDate" selectOnMultipleMatch="false" type="standard"/>
      <input>
        <portlet:param boundTo="request-attribute"
          caption="setselecteddateproperty.caption"
          description="setselecteddateproperty.property"
          name="SelectedDate" partname="SelectedDate_Part"/>
      </input>
    </operation>
    <operation name="SetSecondaryDateList_Operation">
      <portlet:action activeOnStartup="false"
        caption="setsecondarydatelistaction.caption"
        description="setsecondarydatelistaction.description"
        name="SetSecondaryDateList" selectOnMultipleMatch="false" type="standard"/>
      <input>
        <portlet:param boundTo="request-attribute"
          caption="setsecondarydatelistproperty.caption"
          description="setsecondarydatelistproperty.description"
          name="SecondaryDateList" partname="SecondaryDateList_Part"/>
      </input>
    </operation>
  </binding>
</definitions>
